<div class="relative text-left">
  <div>
    <button
      type="button"
      class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      id="options-menu"
      (click)="toggleMenu()"
      aria-haspopup="true"
      aria-expanded="true">
      Options
    </button>
  </div>

  <div
    *ngIf="isOpen"
    [className]="className"
    class="absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white z-30">
    <div class="py-1">
      <ng-container *ngFor="let action of actions">
        <button
          routerLink
          (click)="executeAction(action)"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
          role="menuitem">
          <span [class]="action.icon"></span>
          {{ action.label }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
