<form [formGroup]="artikelForm" class="w-full" (ngSubmit)="save()">
  <!-- Name -->
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="w-64">
      <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name">
        Name*
      </label>
    </div>
    <div class="w-full">
      <input id="name" class="w-full" type="text" pInputText formControlName="name"/>
    </div>
  </div>

  <!-- Anzahl -->
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="w-64">
      <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="anzahl">
        Anzahl*
      </label>
    </div>
    <div class="w-full">
      <p-inputNumber id="anzahl" formControlName="anzahl"
                     [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}"
                     [ngStyle]="{'width': '100%'}"></p-inputNumber>
    </div>
  </div>

  <!-- Gekauft -->
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="w-64">
      <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="anzahl">
        Gekauft?
      </label>
    </div>
    <div class="w-full">
      <p-checkbox formControlName="gekauft" inputId="gekauft" [binary]="true"></p-checkbox>
    </div>
  </div>

  <!-- Buttons -->
  <div class="md:flex md:items-center mt-2 mb-6">
    <div class="w-64">

    </div>
    <div class="w-full">
      <button type="submit" [disabled]="artikelForm.invalid"
              class="text-white bg-gray-800 rounded-lg px-2 py-2 text-center">
        Speichern
      </button>
      <button type="button" (click)="reset()"
              class="text-white bg-gray-800 rounded-lg ml-2 px-2 py-2 text-center">
        Zurücksetzen
      </button>
    </div>
  </div>
</form>
