<div class="m-auto text-gray-600 border-2" style="max-width: 1200px; min-height: 800px;">
  <nav class="bg-lime-400">
    <div class="mx-auto px-2 sm:px-6 lg:px-4">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
                  class="inline-flex items-center rounded-lg p-2 text-gray-600 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                  [disabled]="!userLoggedIn"
                  (click)="toggleCollapseMenu()"
                  aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
            <!-- Icon when menu is open. Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>

        <div class="flex flex-1 items-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block">
            <div class="flex space-x-4 items-center justify-center">
              <a routerLink="/home"
                 routerLinkActive="bg-gray-200"
                 class="hover:bg-gray-200 rounded-lg px-3 py-2 text-sm text-gray-600 font-medium"
                 aria-current="page">
                <span class="fas fa-house fa-sm"></span> Übersicht
              </a>
              <a routerLink="/einkaufszettel"
                 routerLinkActive="bg-gray-200"
                 class="hover:bg-gray-200 rounded-lg px-3 py-2 text-sm text-gray-600 font-medium"
                 aria-current="page">
                <span class="fas fa-cart-shopping fa-sm"></span> Einkaufszettel
              </a>
              <a routerLink="/archiv"
                 routerLinkActive="bg-gray-200"
                 class="hover:bg-gray-200 rounded-lg px-3 py-2 text-sm text-gray-600 font-medium"
                 aria-current="page">
                <span class="fas fa-archive fa-sm"></span> Archiv
              </a>
              <a *ngIf="hasRole(ROLE_NAME.ROLE_ADMIN)"
                 routerLink="/user"
                 routerLinkActive="bg-gray-200"
                 class="hover:bg-gray-200 rounded-lg px-3 py-2 text-sm text-gray-600 font-medium"
                 aria-current="page">
                <span class="fas fa-user-tie fa-sm"></span> Userverwaltung
              </a>
            </div>
          </div>

          <button type="button"
                  (click)="archiviereGekaufteArtikel()"
                  *ngIf="userLoggedIn"
                  pTooltip="Alle gekauften Artikel archivieren"
                  class="bg-gray-50 rounded-lg ml-6 px-2 py-2 text-sm text-center">
            Archivieren
          </button>
        </div>

        <button type="button"
                *ngIf="userLoggedIn"
                (click)="logout($event)"
                class="bg-gray-50 rounded-lg px-2 py-2 text-sm text-center font-medium end-0">
          Logout
        </button>

        <!-- Mobile menu button-->
        <button type="button"
                class="fas fa-user inline-flex items-center rounded-lg p-2 text-gray-500 hover:bg-gray-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                [disabled]="!userLoggedIn">
        </button>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div *ngIf="!menuCollapsed" class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 items-center">
        <a routerLink="/home"
           routerLinkActive="bg-gray-200"
           class="block rounded-lg px-3 py-2 text-base text-gray-600 font-medium"
           aria-current="page">
          <span class="fas fa-house fa-sm"></span> Übersicht
        </a>
        <a routerLink="/einkaufszettel"
           routerLinkActive="bg-gray-200"
           class="block rounded-lg px-3 py-2 text-base text-gray-600 font-medium"
           aria-current="page">
          <span class="fas fa-cart-shopping fa-sm"></span> Einkaufszettel
        </a>
        <a routerLink="/archiv"
           routerLinkActive="bg-gray-200"
           class="block rounded-lg px-3 py-2 text-base text-gray-600 font-medium"
           aria-current="page">
          <span class="fas fa-archive fa-sm"></span> Archiv
        </a>

        <a *ngIf="hasRole(ROLE_NAME.ROLE_ADMIN)"
           routerLink="/user"
           routerLinkActive="bg-gray-200"
           class="block rounded-lg px-3 py-2 text-base text-gray-600 font-medium"
           aria-current="page">
          <span class="fas fa-user-tie fa-sm"></span> Userverwaltung
        </a>
      </div>
    </div>
  </nav>

  <div class="p-4" style="min-height: inherit; height: inherit">
    <router-outlet></router-outlet>
  </div>

  <div class="flex bg-gray-200 text-gray-500 text-sm font-medium">
    <div class="grow"></div>
    <div class="py-2">
      <span class="fa-regular fa-copyright fa-xl rounded-lg text-xs font-medium align-middle"></span>
      <span class="ml-1 text-xs">Alice Bedow</span>
    </div>
    <a href="https://www.linkedin.com/in/alice-bedow-1a7a7a219/"
       class="rounded-lg px-1 py-2 ml-1"
       target="_blank"
       aria-current="page"><span class="fa-brands fa-linkedin fa-xl"></span></a>
    <a href="https://github.com/BlueIronGirl/shopping-list-app"
       class="rounded-lg pl-1 py-2 mr-2"
       target="_blank"
       aria-current="page"><span class="fa-brands fa-github fa-xl"></span></a>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog/>
</div>

